<h1>Edit Wiki</h1>

<%= form_for @wiki do |f| %>
  <div class="col-md-8">
    <% if @wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(@wiki.errors.count, "error") %>.</h4>
      <ul>
        <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <input type="hidden" name="col-ids" id="col-ids">
<%= form_group_tag(@wiki.errors[:title]) do %>
      <%= f.label :title %>
      <%= f.text_field :title, rows: 8, class: 'form-control', placeholder: "Enter wiki title" %>
    <% end %>
    <%= form_group_tag(@wiki.errors[:body]) do %>
      <%= f.label :body %>
      <div id='epiceditor'>
        <%= f.text_area :body, rows: 8, id: 'body', class: 'form-control', placeholder: "Enter post body" %>
      </div>
    <% end %>
  <div class="form-group">
    <%= f.submit "Update", class: 'btn btn-success', id: 'add-collaborators' %>
  </div>

  <% if current_user.admin? || (current_user.premium? && @wiki.user_id == current_user.id) %>
    <div class="form-group">
      <%= f.check_box :private %> Private wiki
      <%= f.label :private, class: 'checkbox' do %>
      <% end %>
    </div>

    <hr class="divider">

    <h4>Add Collaborators</h4>

    <ul id="list-group">
      <% @users.each do |user| %>
        <li class="list-group-item" input type="col-id" id="<%= user.id %>">
            <%= f.label :collaborator, class: 'checkbox' do %>
            <%= f.check_box :user_id %>
            <%= user.email %>
            <% end %>

          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

<script>
    function checkArray(array, id){
      var index = array.indexOf(id);
      if(index > -1){
      array.splice(index, 1);
      }
      else{
      array.push(id)
      }
      console.log(array);
      return array;
    }
    $(document).ready(function() {
      var selected = []
      $('#list-group li').click( function () {
          checkArray(selected, this.id);
      } );
      $('#add-collaborators').click( function () {
    $('#col-ids').val(selected);
    } );
  });
</script>